@import url('open-iconic/font/css/open-iconic-bootstrap.min.css');

app {
    position: relative;
    display: flex;
    flex-direction: column;
}

html, body {
    font-family: 'Helvetica Neue', Helvetica, Arial, sans-serif;
    font-size: 42px;
}

html, body, app, .main {
    height: 100%;
}

.editor-colors {
    text-align: initial;
    font-size: 25px;
    width: fit-content;
    margin-left: auto;
    margin-right: auto;
}

.slides-container--centered {
    text-align: center;
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
}

    .slides-container--centered ul,
    .slides-container--centered ol {
        text-align: initial;
        margin-left: auto;
        margin-right: auto;
        width: fit-content;
    }

